/* Estilos Gerais */
:root {
    --clr-blue-main: #44b2e6;
    --laranja: #ec451c;
    --laranja-hover: #c74120;
    --green: #33c84c;
    --white: #f4f4f4;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f7ff;
    color: #333;
}

a {
    text-decoration: none;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.cabecalho img {
    width: 160px;
    height: auto;
}

.links-page {
    display: flex;
    gap: 0 1rem;
    align-items: center;
}

.links-page a {
    color: var(--laranja);
}


.links-page a:hover {
    color: var(--clr-blue-main);
}


/* Sessão 1 - Banner Principal */
.section-main {
    background-color: var(--clr-blue-main);
    color: white;
    text-align: center;
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-main h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}

.section-main img {
    width: 80%;
}

.hero-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-main p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.old-price {
    text-decoration: line-through;
    color: var(--white);
    font-weight: bold;
    border-radius: 8px;
    padding: 0.2rem;
}

.new-price {
    font-size: 1.5rem;
    color: var(--white);
    background-color: #33c84c;
    padding: 0.2rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

.book-container {
    display: inline-block;
    position: relative;
}

.book-container img {
    display: block;
    width: 80%;
    border-radius: 5px;
}

.book-container::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 30px;
    width: 65%;
    height: 40px;
    background: rgba(0, 0, 0, 0.116);
    border-radius: 100%;
    filter: blur(5px);
    z-index: -0;
}

.info-section {
    background-color: var(--green);
    padding: 1rem;
    color: var(--white);
    text-align: center;
}

.cta-button {
    background-color: var(--laranja);
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--laranja-hover);
}

/* Sessão 2 - Benefícios */
.benefits {
    padding: 50px 20px;
    background-color: #eaf4ff;
    text-align: center;
}

.benefit-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit-item {
    transition: transform 0.3s ease-in-out;
}

.benefit-item:hover {
    transform: translateY(-10px);
}

.benefit-item {
    width: 200px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next, .swiper-button-prev {
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon {
    width: 2rem;
    height: auto;
    font-size: 2rem;
    color: #4ecdc4;
}

.icon-escudo {
    width: 2.5rem;
    height: auto;
}

/* Sessão 3 - Funcionalidades */
.features {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.feature-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    width: 250px;
    padding: 20px;
    text-align: center;
}

.info-section-orange {
    background-color: var(--laranja);
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
}

/* Sessão 4 - Depoimentos */
.testimonials {
    padding: 50px 20px;
    background-color: #eaf4ff;
    text-align: center;
}

.testimonial-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-item {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Sessão 5 - Call to Action */
.cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 50px 100px;
    gap: 1rem;
}

.cta .cta-button {
    margin-top: 2rem;
}

/* Footer */
.footer {
    background-color: var(--clr-blue-main);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.section-icons {
    width: 100%;
    height: 600px;
    background-image: url(../fotos/panel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.section-icons-responsive{
    display: flex;
    padding: 0 0 2rem 0;
    background: linear-gradient(90deg, rgba(50,182,244,1) 12%, rgba(195,236,254,1) 83%);
}

.section-icons-img {
    width: 70%;
    height: auto;
}

.section-icons-img img {
    width: 100%;
    height: auto;
}

.button-main {
    background-color: var(--laranja);
    color: white;
    padding: 0.5rem;
    border: 1px solid var(--laranja);
    border-radius: 8px;
}

.button-main:hover {
    background-color: var(--laranja-hover);
    color: white;
    padding: 0.5rem;
    border: 1px solid var(--laranja-hover);
    border-radius: 8px;
}

.section-tutorial {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(10, 42, 75, 1) 11%, rgba(0, 0, 0, 1) 50%);
}

.section-tutorial img {
    width: 50%;
    padding: 3rem;
}

.tutorial-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 35%;
}

.tutorial-text h2 {
    text-align: center;
    font-size: 32px;
}

.tutorial-text strong {
    text-align: center;
}

.tutorial-text p {
    color: white;
    font-size: 18px;
}


/* Sessão 5 - Garantia de Satisfação */
.satisfaction-guarantee {
    background-color: #f9fbff;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px;
    animation: slideUp 1s ease-in-out;
}

.satisfaction-guarantee h2 {
    font-size: 2.5rem;
    color: var(--clr-blue-main);
    margin-bottom: 20px;
}

.satisfaction-guarantee p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.satisfaction-guarantee ul {
    list-style: none;
    padding: 0;
}

.satisfaction-guarantee li {
    font-size: 1.1rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: var(--laranja);
}

.satisfaction-guarantee li i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--laranja);
}

.satisfaction-guarantee .cta-button {
    margin-top: 30px;
    background-color: var(--green);
    color: white;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.satisfaction-guarantee .cta-button:hover {
    background-color: #28a745;
}

.icon-cliente {
    width: 100px;
    text-align: center;
    height: auto;
}

.swiper-container {
    display: none;
}

.oferta-responsive {
    display: none;
}


@media screen and (max-width: 760px) {
    .links-page {
        display: none;
    }

    .section-icons-responsive{
        flex-direction: column;
        padding: 0 0 2rem 0;
        background: linear-gradient(0deg, rgba(195,236,254,1) 41%, rgba(50,182,244,1) 85%);
    }

    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem !important;
    }

    .cta .new-price {
        font-size: 1.5rem;
        color: var(--white);
        background-color: #33c84c;
        padding: 0.2rem;
        font-weight: 700;
        border: none;
        border-radius: 8px;
    }

    .cta-div{
        width: 100%;
    }

    .info-section-orange h2, .info-section h2 {
        font-size: 24px;
    }

    .section-icons-img {
        width: 100%;
    }

    .section-tutorial {
        width: 100%;
        height: auto;
        align-items: center;
        padding: 0 0 3rem 0;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(90deg, rgba(10, 42, 75, 1) 11%, rgba(0, 0, 0, 1) 62%);
    }

    .tutorial-text {
        width: 90%;
        padding: 0 0.5rem;
    }

    .section-tutorial img {
        text-align: center;
        width: 95%;
    }

    .section-tutorial strong {
        font-size: 12px;
    }

    /* Sessão 2 - Benefícios */
.benefits {
    padding: 50px 20px;
    background-color: #eaf4ff;
    text-align: center;
    overflow: hidden;
}

.benefit-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit-item {
    transition: transform 0.3s ease-in-out;
}

.benefit-item:hover {
    transform: translateY(-10px);
}

.benefit-item {
    width: 125px !important;
    font-size: 14px;
    height: 220px !important;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
    width: auto;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }


.swiper-container {
    display: flex;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
  }

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .oferta-responsive {
    display: block;
  }

.icon {
    width: 2rem;
    height: auto;
    font-size: 2rem;
    color: #4ecdc4;
}

.icon-escudo {
    width: 2.5rem;
    height: auto;
}

.no-responsive {
    display: none;
}

.section-main {
    flex-direction: column;
    gap: 3rem;
}


.hero-content {
    width: 100%;
}

.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item {
    width: 120px;
    padding: 20px;
    text-align: center;
}

.feature-item p{
   font-size: 12px;
}

.feature-item h3 {
    font-size: 16px;
}

.section-tutorial img {
    padding: 0 !important;
}

.section-icons-responsive .cta {
    gap: 0.5rem;
}

.button-main {
    width: 150px;
}

.book-container::after {
    margin-left: 2rem;
}

}

@media screen and (max-width: 500px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .section-icons-responsive .cta-button {
        font-size: 16px;
        padding: 0.8rem !important;
        margin: 1rem 0;
    }
}